<footer class="footer bg-dark text-white mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-3">
        <h5>About Us</h5>
        <p>Esta página ha sido desarrollada por Alejandro Sierro Galán. Ha sido realizada como práctica de Angular y Spring.</p>
      </div>
      <div class="col-md-3 mt-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="bi bi-instagram"> Instagram</i></a></li>
          <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-3 mt-3">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-envelope"></i> a.service98@gmail.com</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2023 Sierro. All rights reserved.</p>
    </div>
  </div>
</footer>
