<app-registro></app-registro>
<div class="card border-primary text-center">
  <div class="card header display-6">{{ titulo }}</div>
  <div class="card-body">
    <form method="post">
      <div class="row justify-content-center">
        <div class="form-group col-sm-6">
          <input
            [(ngModel)]="usuario.username"
            type="text"
            class="form-control mb-3"
            name="username"
            id="username"
            placeholder="Username"
            autofocus
            required
          />
        </div>
        <div class="form-group col-sm-6">
          <div class="input-group">
            <input
              [(ngModel)]="usuario.password"
              type="{{ hidePassword ? 'password' : 'text' }}"
              class="form-control"
              name="password"
              id="password"
              placeholder="Password"
              required
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="togglePassword()"
              >
                <i [class]="hidePassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6 d-grid mx-auto mt-3">
          <input
            (click)="login()"
            type="submit"
            class="btn btn-lg btn-primary btn-block"
            value="Login"
          />
          <input
            (click)="openModal()"
            type="submit"
            class="btn btn-lg btn-success btn-block mt-3"
            value="Sing Up"
          />
          <button
            (click)="login()"
            class="btn btn-lg btn-secondary btn-block mt-3"
          ><i class="bi bi-github"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
