<div class="abrir-modal animacion fade-in" *ngIf="modalService.showModal">
  <div
    *ngIf="modalService.showModal"
    class="modal"
    tabindex="-1"
    style="display: block"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Perfil Cliente</h5>
          <button
            (click)="closeModal()"
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul class="list-group mb-4">
                  <li class="list-group-item active">{{ cliente?.nombre }}</li>
                  <li class="list-group-item">{{ cliente?.apellido }}</li>
                  <li class="list-group-item">{{ cliente?.email }}</li>
                  <li class="list-group-item">
                    {{ cliente?.createAt | date : "fullDate" }}
                  </li>
                  <li class="list-group-item">{{ cliente?.region.nombre }}</li>
                </ul>
                <div
                  class="input-group mb-3"
                  *ngIf="authService.hasRole('ROLE_ADMIN')"
                >
                  <input
                    (change)="seleccionarFoto($event)"
                    type="file"
                    class="form-control"
                    id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload"
                  />
                  <button
                    [disabled]="!fotoSeleccionada"
                    (click)="subirFoto()"
                    class="btn btn-outline-secondary"
                    type="button"
                    id="inputGroupFileAddon04"
                  >
                    Subir
                  </button>
                </div>
                <div
                  *ngIf="progress > 0"
                  class="progress mb-3"
                  style="height: 25px"
                  role="progressbar"
                  aria-label="Animated striped example"
                  attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    [ngStyle]="{ width: progress + '%' }"
                  >
                    {{ progress }}
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <img
                  class="img-thumbnail rounded mx-auto d-block"
                  *ngIf="cliente?.profilePicture"
                  src="http://localhost:8080/api/clientes/img/{{
                    cliente?.profilePicture
                  }}"
                  alt="Imagen de usuario"
                />
              </div>
            </div>
            <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="row">
              <button
                type="button"
                name="button"
                [routerLink]="['/facturas/form', cliente.id]"
                class="btn btn-success btn-sm mx-auto btn-block"
              >
                Agregar factura
              </button>
            </div>
            <div *ngIf="cliente?.listaFactura.length == 0" class="row">
              <div class="alert alert-info my-4">
                {{ cliente?.nombre }} no tiene facturas asociadas.
              </div>
            </div>
            <div
              *ngIf="cliente?.listaFactura.length > 0"
              class="row table-responsive"
            >
              <table class="table table-bordered table-striped my-4">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>descripcion</th>
                    <th>fecha</th>
                    <th>total</th>
                    <th>opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let factura of cliente.listaFactura">
                    <td>{{ factura.id }}</td>
                    <td>{{ factura.descripcion }}</td>
                    <td>{{ factura.createAt }}</td>
                    <td>{{ factura.importeTotal.toFixed(2) }}</td>
                    <td class="text-center w-25">
                      <div class="d-inline-block m-1">
                        <button
                          class="btn btn-primary btn-sm"
                          type="button"
                          [routerLink]="['/facturas', factura.id]"
                        >
                          Ver
                        </button>
                      </div>
                      <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="d-inline-block m-1">
                        <button
                          class="btn btn-danger btn-sm"
                          type="button"
                          (click)="delete(factura)"
                        >
                          Eliminar
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            (click)="closeModal()"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
