<app-perfil *ngIf="selectedClient" [cliente]="selectedClient"></app-perfil>
<div class="card border-info mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">Listado de clientes:</h5>
    <div class="my-2 text-right">
      <button
        class="btn btn-rounded btn-primary"
        [routerLink]="['/clientes/form']"
      >
        Añadir Cliente
      </button>
    </div>
    <div *ngIf="clientes?.length <= 0" class="alert alert-info mt-4">
      ¡No hay registros en la base de datos!
    </div>
    <table
      class="table table-bordered table-striped mt-4"
      *ngIf="clientes?.length > 0"
    >
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>
            <img
              (click)="openModal(cliente)"
              style="width: 70px; cursor: pointer"
              class="img-thumbnail rounded mx-auto d-block clickable-image"
              *ngIf="cliente?.profilePicture"
              src="http://localhost:8080/api/clientes/img/{{
                cliente?.profilePicture
              }}"
              alt="Imagen de usuario"
            />
            <img
              (click)="openModal(cliente)"
              style="width: 70px; cursor: pointer"
              class="img-thumbnail rounded mx-auto d-block clickable-image"
              *ngIf="!cliente?.profilePicture"
              src="http://localhost:8080/images/not_user.png"
              alt="Imagen de usuario"
            />
          </td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt | date : "EEEE dd, MMMM yyyy" }}</td>
          <td>
            <button
              type="button"
              name="button"
              [routerLink]="['/clientes/form', cliente.id]"
              class="btn btn-primary btn-sm"
            >
              editar
            </button>
          </td>
          <td>
            <button
              type="button"
              name="button"
              (click)="delete(cliente)"
              class="btn btn-danger btn-sm"
            >
              eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginator" [paginator]="paginator"></paginator-nav>
  </div>
</div>
